{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
    <head>
    <meta charset="UTF-8">
	<title>Product</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


		

<div class="wrap js-modal1 p-t-60 p-b-20">
		

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="{% static 'app/content/site/images/icons/icon-close.png' %}" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="{{ product.image1.url }}">
										<div class="wrap-pic-w pos-relative">
											<img  src="{% if product.image1 %}{{ product.image1.url }}{% else %}{% static "app/content/no_image.png" %}{% endif %}">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ product.image1.url }}">
												<i class="fa fa-expand"></i>
											</a>
										</div>

                                         <div class="flex-w flex-m p-l-0 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>

									</div>

									<div class="item-slick3" data-thumb="{{ product.image2.url }}">
										<div class="wrap-pic-w pos-relative">
											<img  src="{% if product.image2 %}{{ product.image2.url }}{% else %}{% static "app/content/no_image.png" %}{% endif %}">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ product.image2.url }}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="{{ product.image3.url }}">
										<div class="wrap-pic-w pos-relative">
											<img  src="{% if product.image3 %}{{ product.image3.url }}{% else %}{% static "app/content/no_image.png" %}{% endif %}">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ product.image3.url }}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								{{ product.name }}
							</h4>

							<span class="mtext-106 cl2">
								{{product.price }} руб.
							</span>

							<p class="stext-102 cl3 p-t-23">
								{{ product.description|linebreaksbr}}
							</p>
							
							<!-- <div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>-->

								<form class="flex-w flex-r-m p-b-10" action="{% url "cart:cart_add" product.id %}" method="post">
									<div class="size-204 flex-w flex-m respon6-next"   >
                                       
                                        
                                            {% csrf_token %}
                                            {% if  user.is_authenticated %}
										<div class="wrap-num-product flex-w m-l--100 m-r-20 m-tb-10">
                                            
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="text" name="quantity" required id = "id_quantity" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										 </div>
                                     
										
                                        <input class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15  trans-04 js-addcart-detail" type="submit" value="В корзину">
                                        {% else %}
                                            <p>Для совершения покупок<a href="{% url 'login' %}"  >авторизуйтесь.</a> </p>
                                        {% endif %}

                                       

                                    </div>
                                 </form>
								    

                            
						</div> 
							

							
							
						</div>
					</div>
                <div class="table p-l-130  " >
      <table class="table table-bordered ">
    <tr class="header">
      <td colspan="2">Характеристики</td>
    </tr>
      
    <tr>
      <td>Тип корпуса</td>
      <td>{{product.case_type}}</td>
      
    </tr>
      <tr>
      <td>Поддержка двух сим-карт</td>
      <td>{{product.duo_sim}}</td>
      
    </tr>
    <tr>
      <td>Тип SIM-карты</td>
      <td>{{product.sim_type}}</td>
      
    </tr>
    <tr>
      <td>Операционая система</td>
      <td>{{product.system}}</td>
    </tr>

    <tr>
      <td>Экран</td>
      <td>{{product.display_type}}</td>
    </tr>
     <tr>
      <td>Разрешение экрана</td>
      <td>{{product.resolution}}</td>
    </tr>
    <tr>
      <td>Процессор</td>
      <td>{{product.processor}}</td>
    </tr>
    <tr>
      <td>Кол-во ядер</td>
      <td>{{product.cores}}</td>
    </tr>
    <tr>
      <td>Частота проессора</td>
      <td>{{product.cpu_frequency}}</td>
    </tr>
    <tr>
      <td>Графческий ускоритель</td>
      <td>{{product.gpu}}</td>
    </tr>
    <tr>
      <td>Объем оперативной памяти</td>
      <td>{{product.ram}}</td>
    </tr>
     <tr>
      <td>Объем встроенной памяти</td>
      <td>{{product.ram_inside}}</td>
    </tr>
    <tr>
      <td>Наличие SD-карты</td>
      <td>{{product.sd}}</td>
    </tr>
    <tr>
      <td>Максимальный объем SD-карты</td>
      <td>{{product.sd_volume_max }}</td>
    </tr>
    <tr>
      <td>Основная камера</td>
      <td>{{product.main_cam_mp }} Мп</td>
    </tr>
    <tr>
      <td>Фронтальная камера</td>
      <td>{{product.frontal_cam_mp }} Мп</td>
    </tr>
      <tr>
      <td>Вспышка</td>
      <td>{{product.flash }}</td>
    </tr>
      <tr>
      <td>MP-3 Плеер</td>
      <td>{{product.mp3_pleer }}</td>
    </tr>
      <tr>
      <td>Диктофон</td>
      <td>{{product.recorder }}</td>
    </tr>
      <tr>
      <td>USB-интерфейс</td>
      <td>{{product.usb_interface }}</td>
    </tr>
      <tr>
      <td>Объем аккумулятора</td>
      <td>{{product.accum_volume  }} мА*ч</td>
    </tr>
      <tr>
      <td>Размер корпуса (ШхВхТ) </td>
      <td>{{product.size }} мм</td>
    </tr>
      <tr>
      <td>Вес</td>
      <td>{{product.weigth}} г</td>
    </tr>
      <tr>
      <td>Страна производителя</td>
      <td>{{product.country }}</td>
    </tr>
      <tr>
      <td>Гарантия</td>
      <td>{{product.warranty }}</td>
    </tr>

    
  </table> 
		</div>
				</div>
            
			</div>
    </div>
     
			
		
	


    
    
     



  
{% endblock %}


<!--<form action="{% url "cart:cart_add" product.id %}" method="post" >

            {{ cart_product_form }}
             {{ cart_product_form.quantity }}
            {% if  user.is_authenticated %}
            <input type="submit" value="Add to cart">
            {% endif %}
            </form>-->