{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
    <head>
	<title>Product</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    

    
    

</head>



<div class="container_product_page">
    <div class="product">
        {% if category %}{{ category.title }}{% else %}Products{% endif %}
        <div class="about_product">
    <div class="image">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "content/no_image.png" %}{% endif %}">
    </div>
        
            <h1>{{ product.name }}</h1>
            <h4>{{product.price }} руб.</h4>
            {{ product.description|linebreaksbr}} 
            <div class="flex-w flex-r-m p-b-10">
            <form action="{% url "cart:cart_add" product.id %}" method="post" >
               {% csrf_token %}
                <div class="wrap-num-product flex-w m-l-auto m-r-0">
				<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
				<i class="fs-16 zmdi zmdi-minus"></i>
				</div>

				<input class="mtext-104 cl3 txt-center num-product" type="text" name="quantity" required id = "id_quantity" value="1">

				<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
				<i class="fs-16 zmdi zmdi-plus"></i>
				</div>
                </div>
										
                {% if  user.is_authenticated %}
                <input class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" type="submit" value="В корзину">
                {% endif %}
                </form>
            </div>


        </div>
        </div>
  <table class="table table-bordered">
    <tr class="header">
      <td colspan="2">Характеристики</td>
    </tr>
      
    <tr>
      <td>Тип корпуса</td>
      <td>{{product.case_type}}</td>
      
    </tr>
      <tr>
      <td>Поддержка двух сим-карт</td>
      <td>{{product.duo_sim}}</td>
      
    </tr>
    <tr>
      <td>Тип SIM-карты</td>
      <td>{{product.sim_type}}</td>
      
    </tr>
    <tr>
      <td>Операционая система</td>
      <td>{{product.system}}</td>
    </tr>

    <tr>
      <td>Экран</td>
      <td>{{product.display_type}}</td>
    </tr>
     <tr>
      <td>Разрешение экрана</td>
      <td>{{product.resolution}}</td>
    </tr>
    <tr>
      <td>Процессор</td>
      <td>{{product.processor}}</td>
    </tr>
    <tr>
      <td>Кол-во ядер</td>
      <td>{{product.cores}}</td>
    </tr>
    <tr>
      <td>Частота проессора</td>
      <td>{{product.cpu_frequency}}</td>
    </tr>
    <tr>
      <td>Графческий ускоритель</td>
      <td>{{product.gpu}}</td>
    </tr>
    <tr>
      <td>Объем оперативной памяти</td>
      <td>{{product.ram}}</td>
    </tr>
     <tr>
      <td>Объем встроенной памяти</td>
      <td>{{product.ram_inside}}</td>
    </tr>
    <tr>
      <td>Наличие SD-карты</td>
      <td>{{product.sd}}</td>
    </tr>
    <tr>
      <td>Максимальный объем SD-карты</td>
      <td>{{product.sd_volume_max }}</td>
    </tr>
    <tr>
      <td>Основная камера</td>
      <td>{{product.main_cam_mp }} Мп</td>
    </tr>
    <tr>
      <td>Фронтальная камера</td>
      <td>{{product.frontal_cam_mp }} Мп</td>
    </tr>
      <tr>
      <td>Вспышка</td>
      <td>{{product.flash }}</td>
    </tr>
      <tr>
      <td>MP-3 Плеер</td>
      <td>{{product.mp3_pleer }}</td>
    </tr>
      <tr>
      <td>Диктофон</td>
      <td>{{product.recorder }}</td>
    </tr>
      <tr>
      <td>USB-интерфейс</td>
      <td>{{product.usb_interface }}</td>
    </tr>
      <tr>
      <td>Объем аккумулятора</td>
      <td>{{product.accum_volume  }} мА*ч</td>
    </tr>
      <tr>
      <td>Размер корпуса (ШхВхТ) </td>
      <td>{{product.size }} мм</td>
    </tr>
      <tr>
      <td>Вес</td>
      <td>{{product.weigth}} г</td>
    </tr>
      <tr>
      <td>Страна производителя</td>
      <td>{{product.country }}</td>
    </tr>
      <tr>
      <td>Гарантия</td>
      <td>{{product.warranty }}</td>
    </tr>

    
  </table>
</div>
    

  
{% endblock %}


<!--<form action="{% url "cart:cart_add" product.id %}" method="post" >

            {{ cart_product_form }}
             {{ cart_product_form.quantity }}
            {% if  user.is_authenticated %}
            <input type="submit" value="Add to cart">
            {% endif %}
            </form>-->