{% include 'app/layout.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
		

<!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="{%  static 'app/content/site/images/icons/favicon.png' %}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site//fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site//vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/site/css/main.css' %}">
<!--===============================================================================================-->
</head>

<body class="animsition">
	
	

		

	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
                    
				<div class="item-slick1"> 
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Samsung
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									GALAXY S20 fe
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
                            
						</div>
					</div>
				</div>

				<div class="item-slick2">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1_2 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Men New-Season
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Jackets & Coats
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick3" >
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Men Collection 2018
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									New arrivals
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
     gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
     gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
     gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
     gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
     gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd

       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
       gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd   gashdjkaskdasdasdasdasdasd
   {% endblock %}



<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>


   
	<script src="{% static 'app/content/site/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'app/content/site/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'app/content/site/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'app/content/site/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'app/content/site/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'app/content/site/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'app/content/site/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'app/content/site/vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'app/content/site/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'app/content/site/vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{% static 'app/content/site/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'app/content/site/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static  'app/content/site/vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="{% static 'app/content/site/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'app/content/site/js/main.js' %}"></script>
</body>
</html>
